h1{
    color:brown;
    background-color: aquamarine;
}
h2{
    color:teal;
    background-color: antiquewhite;
}
p{
    color: pink;
    background:brown;
}
button{
    color:aquamarine;
    background-color: purple;
}
h3{
    color: rgb(16, 218, 222)
}
h4{
    color: #a3f7bf
}
body{
    background-color: #6e1ed7;
}